body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.alert {
  z-index: 9999;
  display: none;
}

.form-group, .form-check{
  color: #fffdfde0;
}

#mainNav {
  background-color: #354351!important;
  opacity: .8;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 8px;
  text-transform: uppercase;
  color: #354351;
  border: 0;
  background-color: #fffdfde0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 100%;
  font-weight: 400;
  padding: 8px 0;
  letter-spacing: 1px;
  color: #fffdfde0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.dropdown-menu {
  background:#354351;
  opacity: 1;
}

@media (min-width: 320px) {
  #mainNav {
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#background {
  width: 100%;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#services {
  color: rgb(51, 51, 51);
}

#about {
  background-image: url('../assets/images/room1.jpg');
  background-color: rgb(194, 190, 189);
  background-size: cover;
  background-blend-mode: screen;
}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #354351;
  color: #fffdfd;
  opacity: .8;
}

footer a {
  color: #A7C0D1;
}

footer a:hover {
  color: #fffdfd;
  text-decoration: none;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #354351;
  border-radius: 100%;
  outline: none;
  background-color: #fffdfd;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #A7C0D1;
}

h6 {
  font-size: 12px;
}
